.forgot-password-container{
    width: 1200px;
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 2px;
    position: absolute;
    border-radius: 0px 0px 0px 0px;
}

.left {
    flex-shrink: 0;
    flex: 1 0 0px;
    width: 1px;
    height: 100%;
    display: block;
    background-color: #ffffff;
    z-index: 1;
    position: relative;
    border-radius: 0px 0px 0px 0px;
}

.middle {
    flex-shrink: 0;
    width: 25%;
    height: 75%;
    display: block;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    overflow: visible;
    position: relative;
    border-radius: 30px;
}

.right {
    flex-shrink: 0;
    flex: 1 0 0px;
    width: 1px;
    height: 100%;
    display: block;
    background-color: #ffffff;
    position: relative;
    border-radius: 0px 0px 0px 0px;
}

.columns {
    flex-shrink: 0;
    width: 100%;
    flex: 1 0 0px;
    height: 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    position: relative;
    padding: 0px 0px 0px 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 10;
    border-radius: 0px 0px 0px 0px;
}

.rows {
    flex-shrink: 0;
    width: 100%;
    flex: 1 0 0px;
    height: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    position: relative;
    padding: 0px 0px 0px 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    border-radius: 0px 0px 0px 0px;
}

.forgot-your-password_ {
    flex-shrink: 0;
    width: auto; /* 259px */
    height: auto; /* 28px */
    white-space: pre;
    overflow: visible;
    position: relative;
    font-weight: 700;
    font-style: normal;
    font-family: "Inter", "Inter Placeholder", sans-serif;
    color: #000000;
    font-size: 23px;
    letter-spacing: 0em;
    line-height: 1.2;
}

.email-address_ {
    flex-shrink: 0;
    width: auto; /* 111px */
    height: auto; /* 19px */
    white-space: pre;
    position: relative;
    font-family: "Inter", sans-serif;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 1.2;
    text-align: center;
}

.send {
    width: auto; /* 31px */
    height: auto; /* 12px */
    white-space: pre;
    font-weight: 700;
    font-style: normal;
    font-family: "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0em;
    line-height: 1;
    position: absolute;
}

.button-send {
    flex-shrink: 0;
    width: 39%;
    height: 9%;
    display: block;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    background-color: #333333;
    overflow: hidden;
    position: relative;
    border-radius: 7px;
}

.submit-forgot {
    width: auto; /* 42px */
    height: auto; /* 12px */
    white-space: pre;
    font-weight: 700;
    font-style: normal;
    font-family: "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0em;
    line-height: 1;
    position: absolute;
}

.button-submit {
    flex-shrink: 0;
    width: 39%;
    height: 43%;
    display: block;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    background-color: #333333;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    border-radius: 7px;
}

.bluel {
    width: 500px;
    height: 60px;
    display: block;
    box-shadow: 7px -10px 3px 0px rgba(0, 0, 0, 0.25);
    background-color: #54a5ff;
    overflow: hidden;
    transform: rotate(154deg);
    position: absolute;
    border-radius: 0px 0px 0px 0px;
}

.purplel {
    width: 500px;
    height: 60px;
    display: block;
    box-shadow: 7px -10px 3px 0px rgba(0, 0, 0, 0.25);
    background-color: #a34eff;
    overflow: hidden;
    transform: rotate(154deg);
    position: absolute;
    border-radius: 0px 0px 0px 0px;
}

.pinkl {
    width: 500px;
    height: 60px;
    display: block;
    box-shadow: 7px -10px 3px 0px rgba(0, 0, 0, 0.25);
    background-color: #ff0058;
    overflow: hidden;
    transform: rotate(154deg);
    position: absolute;
    border-radius: 0px 0px 0px 0px;
}

.bluer {
    width: 500px;
    height: 60px;
    display: block;
    box-shadow: 7px -10px 3px 0px rgba(0, 0, 0, 0.25);
    background-color: #54a5ff;
    overflow: hidden;
    transform: rotate(154deg);
    position: absolute;
    border-radius: 0px 0px 0px 0px;
}

.purpler {
    width: 500px;
    height: 60px;
    display: block;
    box-shadow: 7px -10px 3px 0px rgba(0, 0, 0, 0.25);
    background-color: #a34eff;
    overflow: hidden;
    transform: rotate(154deg);
    position: absolute;
    border-radius: 0px 0px 0px 0px;
}

.pinkr {
    width: 500px;
    height: 60px;
    display: block;
    box-shadow: 7px -10px 3px 0px rgba(0, 0, 0, 0.25);
    background-color: #ff0058;
    overflow: hidden;
    transform: rotate(154deg);
    position: absolute;
    border-radius: 0px 0px 0px 0px;
}